<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    
<style>
   body
    {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(static/tp1.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; background-size: cover;
}
</style>
</head>

<body>
    <header class="start-header1">
    <h1 style="text-align: center; color: aliceblue;"><b>DETECTION FROM IMAGE</b></h1><br><br>
    <form style="text-align: center;" method="POST" action="prediction" enctype="multipart/form-data">
        <h2 style="color: aliceblue; text-align: center;" enctype = "multipart/form-data" method = "post">SELECT YOUR IMAGE</h2><br><br>
        <div class="fileup">
        <input type="file" name="image" style="color:aliceblue">
        <input type="submit" name="sub" >
        </div>
    </form>
    </header>
</body>
</html>