<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<style>
    button{
        width: 400px;
        
    }
</style>
<body>
    <header class="start-header">
    <div class="header">
        <br><br><br><br><br><br>
    <h1>SELECT YOUR PREFERRED OPTION</h1></div>
    <br><br>
   <div id="centre">
   <a href="{{ url_for('imgpg') }}">
    <button>Detect from Image</button><br><br><br>
</a> 
   <a href="{{ url_for('vidpg' ) }}">
        <button>Detect from video</button><br><br><br>
    </a>
    <a href="{{ url_for('camera') }}"><button>Detect from Camera</button></a><br>
    </div>
</header>
</body>
</html>